<h1> <%= @question.title %> </h1>

<p>
  <%= @question.body %>
</p>
Created on: <%= formatted_date @question.created_at %>
<hr />
  <%= pluralize(@question.likes.count, 'person') %>
  have liked this question
  <% if user_signed_in? %>
    <% if current_user.has_liked?(@question) %>
      <%= form_for @like, url: question_like_path(@question, @like), method: :delete do |f| %>
        <%= f.submit "UnLike" %>  
      <% end %>
    <% else %>
      <%= form_for @like, url: question_likes_path(@question) do |f| %>
        <%= f.submit "Like" %>  
      <% end %>
    <% end %>
  <% else %>
    Please <%= link_to "Sign In", new_user_session_path %> in order to like the question
  <% end %>
<hr />
<hr />
<h2> Answers </h2>
<div id="answers">
  <% if @question.answers.empty? %>
    <p> There are currently no answers </p>
  <% else %>
    <%= render @question.answers.all %>
  <% end %>
</div>
<%= form_for @answer, remote: true, url: question_answers_path(@question) do |f| %>
  <%= f.text_area :content, rows: 3 %>
  <br />
  <%= f.submit %>
<% end %>
