<div id="answer_<%= answer.id %>">
  <%= answer.content %>
  <br />
  <%= link_to "Edit Answer", edit_question_answer_path(@question,answer) %>
  <%= link_to "<b >Delete Answer</b>".html_safe, question_answer_path(@question, answer), method: :delete, remote: true, confirm: "Are you sure you want to delete this answer?", class: "btn" %>
  Created on: <%= formatted_date answer.created_at %>
  <hr />
</div>