<!DOCTYPE html>
<html>
<head>
  <title>Answers</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render partial: "/layouts/shared/user_bar" %>
  <%= render partial: "/layouts/shared/flash_display", locals: {notice: notice, alert: alert} %>
  <%= yield %>
</body>
</html>
